// -----------------------------------------------------------------------------
// This file contains all styles related to the grids component.
// -----------------------------------------------------------------------------

.grid-3 {
  margin: 65px 0;
}

.grid-3 div {
  float: left;
  width: 33.3%;
}

.grid-3-col span.icon {
  margin: 0 40px 90px 0;
}

.grid-3-col{
  padding-right: 40px;
}

.grid-4 {
  margin: 0 auto;
}

.grid-4-col {
  width: 23%;
  float: left;
}

.grid-4-col + .grid-4-col {
  margin-left: 2.333%;
}
